<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.gc_uwu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_linka"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:configChanges="layoutDirection|locale">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GlobalRankActivity" />
        <activity
            android:name=".MyPageActivity"
            android:label="@string/my_page" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MyScoreActivity"
            android:label="@string/title_activity_my_score"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MonthlyRankActivity"
            android:label="@string/title_activity_monthly_rank"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MyFriendActivity"
            android:label="@string/title_activity_my_friend"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MonthlyStatActivity"
            android:label="@string/title_activity_monthly_stat"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>